body{
    background-image: url('https://www.pngmart.com/files/13/Pattern-Transparent-Background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
Button{
    width: 130px;
    border: none;
    background-color: blue;
    color: white;
    padding: 5px 5px;
    border-radius: 5px;
}

#head th{
    position: sticky;
    top: 0;
    padding: 10px;
    background-color: white;
    color: black;
}
table img{
    cursor: pointer;
}

@media(max-width:430px){
    Table th{
        font-size: 12px;
    }
    Table td{
        font-size: 12px;
    }
    Table img{
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
    #icons{
        padding: 0px 0px 10px 0px;
    }
}

td{
    font-weight: bold;
}

#icons{
    display: flex;
    align-items: center;
    justify-content: start;
}
#data td{
    text-align: center;
    background-color: transparent;
}